@import "./global.css";

body {
  background-image: url(../images/home-bc.svg), url(../images/home-bc-2.svg);
  background-repeat: no-repeat;
  background-position-y: 475px, 1880px;
  background-position-x: left, right;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 160px;
}

/* HERO */

.hero {
  padding: 0 100px;
}

.hero-container {
  background-image: url(../images/bg-pattern-hero-home.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 660px 660px;
  background-color: #e7816b;
  border-radius: 15px;
  padding: 145px 140px 0 140px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  max-width: 1111px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 540px;

  h1 {
    width: 540px;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    color: #ffffff;
  }

  p {
    width: 445px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
  }

  a {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333136;
    padding: 18px 25px 16px 24px;
    background-color: #ffffff;
    border-radius: 8px;
    width: 155px;

    &:hover {
      background-color: #ffad9b;
      color: #ffffff;
    }
  }
}

.hero-img {
  width: 280px;
}

/* PROJECTS */

.projects {
  width: 100%;
}

.projects-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}

.projects-left {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/image-web-design-large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 24px;
  border-radius: 15px;
  padding: 273px 130px;

  h3 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
    color: #ffffff;
  }
}

.projects-left:hover {
  background-image: linear-gradient(
      rgba(255, 173, 155, 0.7),
      rgba(255, 173, 155, 0.7)
    ),
    url(../images/image-web-design-large.jpg);
}

.projects-right {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  h3 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
    color: #ffffff;
  }
}

/* character */

.character-of-team-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31.5%;

  img {
    width: 202px;
    height: 202px;
  }

  .card-text {
    h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 5px;
      color: #333136;
      text-align: center;
      margin-top: 48px;
      margin-bottom: 32px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      color: #333136;
    }
  }
}

.app {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/image-app-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding: 107px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 24px;
  width: 550px;
  height: 308px;
}

.graphic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding: 107px 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 24px;
  width: 550px;
  height: 308px;
}

.app:hover {
  background-image: linear-gradient(
      rgba(255, 173, 155, 0.6),
      rgba(255, 173, 155, 0.6)
    ),
    url(../images/image-app-design.jpg);
}

.graphic:hover {
  background-image: linear-gradient(
      rgba(255, 173, 155, 0.6),
      rgba(255, 173, 155, 0.6)
    ),
    url(../images/image-graphic-design.jpg);
}

@media (max-width: 1200px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    row-gap: 30px;
  }

  .hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

    h1,
    p,
    a {
      text-align: center;
    }
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .projects-left,
  .app,
  .graphic {
    width: 1000px;
    height: 400px;
    padding: 230px 100px;
  }
}

@media (max-width: 1150px) {
  .character-of-team-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    column-gap: 50px;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
  }

  .card-text > h3,
  p {
    text-align: start;
  }
}
